################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/test/FileContentIndex/7fb26d11-f7bd-4ef1-b71f-bdd135e6e85a.vsidx
/.vs/test/FileContentIndex
